header .header .container-fluid {
	padding-right: 70px;
    padding-left: 70px;
}

.navbar-brand {
    width: 158px;
    margin-top: 0;
}

.banner-content h1 ,.banner-content p ,.features-box .features-icon i ,.features-box h3 ,.about-icon-text .abt-icon i ,.about-icon-text .abt-text h2 span ,.section-title ,.offer-content h3 ,.product-slider .slick-prev:before, .product-slider .slick-next:before ,.news-content .date-react .react i {
	color: #7bc142;
}

.banner-content h1 span ,.herosection_content h2 ,.sidebar h4 ,.billing_head h2 ,.order_txt h2 {
	color: #ed1c35;
}

.banner-content h3 ,.sold-out-tag {
	background-color: #ed1c35;
}

.banner-content .btn::after {
    background: #7bc142;
    background: -webkit-linear-gradient(to right, #127c3e, #7bc142);
    background: linear-gradient(to right, #127c3e, #7bc142);
    top: 0;
}

.testimonial-info h3 {
	color: #fff;
}

.full-testimonial .icofont-double-left ,.full-testimonial .icofont-double-right {
    border: 2px solid #fff;
    color: #fff;
}

.footer_bottom {
    background: linear-gradient(to right, #127c3e, #7bc142);
}

.footer_bottom a ,.footer_txt p span {
	color: #fff;
}

.hero_section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.recent_post {
	margin-top: 0;
}

.ccontatct_infopage {
	padding-top: 30px;
}

.ccontatct_infopage .footer_widget_content li ,.ccontatct_infopage .footer_widget_content li a {
	 color: #555555;
}

.ccontatct_infopage .footer_social_icons li a i {
    background: #7bc142;
    color: #fff;
}

.ccontatct_infopage .footer_social_icons li a:hover i {
    background: #ed1c35;
}

.our_productsWrap {
	margin-top: 50px;
}

.product_details .btn {
    padding: 11px 50px;
    font-size: 18px;
}

.nav-tabs .nav-link.nav-link-custom.active ,.nav-tabs .nav-link.nav-link-custom:hover {
    background-color: #ed1c35;
    border-color: #ed1c35 #ed1c35 #ed1c35;
}

.nav_custom {
    border-bottom: 2px solid #ed1c35;
}

.small_img {
    margin-right: 0;
    width: 100%;
}

.small_img img {
    /*display: inline-block;
    margin: 20px 20px 20px 0;*/
	width: 100%;
	height: 100px;
	margin-top: 25px;
}

.product-slider .slick-prev ,.product-slider .slick-next {
    border: 1px solid #7bc142;
}

.full-banner {
	background: url(../img/banner/01.jpg) no-repeat;
	background-size: cover;
    background-position: center;
	background-attachment: fixed;
} 

.slick-dots {
    bottom: -100px;
}

.latest-news-list .news-img ,.news-img {
	overflow: hidden;
}

.latest-news-list .news-img img:hover ,.news-img img:hover {
	transform: scale(1.3);
}

.section.portfolio .filters {
  text-align: center;
  margin-top: 50px;
}
.section.portfolio .filters ul {
  padding: 0;
}
.section.portfolio .filters ul li {
  list-style: none;
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
  position: relative;
}
.section.portfolio .filters ul li:after {
  content: "";
  display: block;
  width: calc(0% - 60px);
  position: absolute;
  height: 2px;
  background: #333;
  transition: width 350ms ease-out;
}
.section.portfolio .filters ul li:hover:after {
  width: calc(100% - 60px);
  transition: width 350ms ease-out;
}
.section.portfolio .filters ul li.active:after {
  width: calc(100% - 60px);
}
.section.portfolio .filters-content {
  margin-top: 50px;
}
.section.portfolio .filters-content .show {
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}
.section.portfolio .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}
.section.portfolio .filters-content .item {
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px;
}
.section.portfolio .filters-content .item .p-inner {
  padding: 20px 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.section.portfolio .filters-content .item .p-inner h5 {
  font-size: 15px;
}
.section.portfolio .filters-content .item .p-inner .cat {
  font-size: 13px;
}
.section.portfolio .filters-content .item img {
  width: 100%;
	height: 250px;
}

.active a {
    background: linear-gradient(to right, #0f7404, #5cb917);
    border-radius: 3px;
}

.header {
    top: 25px;
}

.header_lang {
	margin-top: -87px;
    background: #03262c;
    padding: 7px 35px 10px;
    position: absolute;
    right: 57px;
	border-radius: 35px 35px 0 0;
}

.header_lang a {
	color: #fff;
}

.full-offer::after {
    content: "";
    position: absolute;
    bottom: -310px;
    left: 55%;
    transform: translateX(-50%);
    height: 600px;
    width: 500px;
    background: url(../img/gallery/fruits.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    z-index: -1;
}

.filters {
	display: none;
}

.product-img img {
	height: 170px;
}

.phone_no a {
	color: #fff;
}

.recent_post ul li h4 a {
    font-size: 20px;
}

.ff-gallery li img {
	padding: 7px 7px 0 7px;
}

.footer_widget_content .col-sm-4 {
    width: 33.33333333%;
	float: left;
}

.billing_form .chechout_btn .btn {
	background: linear-gradient(to right, #127c3e, #7bc142);
}

.full-bestSeller {
	margin-top: 50px;
}

.tab-pane iframe {
	width: 100%;
	height: 400px;
    margin-top: 30px;
}

/*	----------------------------------------------------------
	Responsive Structure
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
@media only screen and ( min-width: 320px) and ( max-width: 767px ) {
	.header {top: 0;}
	header .header .container-fluid {padding-right: 0;padding-left: 0;}
	.navbar-collapse.show .navbar-nav {margin-top: 20px;}
	.navbar-light .navbar-nav .nav-link {margin-bottom: 10px;}
	.header_contact {text-align: left !important;padding-left: 22px;}
	.header_lang {position: relative;right: auto;text-align: left !important;margin-top: 0;}
	.full-offer::after {bottom: -165px;height: 350px;width: 335px;}
	.hero_section {padding-top: 50px;padding-bottom: 25px;}
	.png_img {width: 130px;top: 60%;}
	.herosection_content h2 {font-size: 35px;padding-top: 15px;}
	.herosection_content .btn {padding: 11px 25px;}
	.section.portfolio .filters-content .item img {height: 200px;}
	.small_img .col-xs-4 {padding: 0 15px;}
	.small_img img {height: 51px;}
	.product_details ,.blog_part ,.order_part {padding: 50px 0;}
	.billing_head {margin-top: 50px;}
	
}









